.search-bar {
    padding: 0 10px;
}

.search > .twelve {
    background: white;

}

.search {
    z-index: 100;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.ui.search .prompt {
    border-radius: .38571429rem !important;
}

.App {
    /*max-width:800px ;*/
    padding: 0 5px;
    margin: 0 auto;
}

.omenu {
    z-index: 100;
}

.search-bar.search {
    padding: 16px 0 0 0;
}

.oitems {
    margin: 16px 10px 0 10px;
}

.search-bar .input {
    width: 100%;
    margin: 0px 0;
}

.result {
    margin: 20px 10px 0 10px;
}

.icon {
    display: flex;
    align-items: center;
    width: 30px;
    margin: 16px;
}

.icon > img {
    width: 35px;
    margin-right: 5px;
}

.oitems {
    margin: 16px 10px 0 10px;
}