.search-box{
  padding: 20px 10px 10px  10px ;
}

body {
  padding: 0 10px;
}
.ms-FocusZone {
  padding-top: 0 !important;
}
.ms-DetailsHeader-cell>span>span>span{
  font-size: 12px !important;
}

div.ms-SelectionZone{
}

div.search-box > div > div > div > div.ms-Callout-container> div {
  width: 100% !important;
}
.items{
  height: calc(100vh - 110px);;
}

.ms-DetailsHeader{
  border: none!important;
}