.search-box {
    padding: 20px 10px 10px 10px;
}

body {
    padding: 10px 10px;
    user-select: none;
}

.ms-FocusZone {
    padding-top: 0 !important;
}

.ms-DetailsHeader-cell > span > span > span {
    font-size: 12px !important;
}

div.ms-SelectionZone {
}

div.ms-Callout-container > div {
    width: 100% !important;
}

.ms-BasePicker-text {
    border: 1px solid rgb(96, 94, 92);
}

.ms-BasePicker-text:after {
    border: 1px solid rgb(96, 94, 92);
}

.ms-TagItem:focus-within {
    background-color: rgb(243, 242, 241);
    color: rgb(96, 94, 92);
}

.ms-TagItem {
    max-width: 100% !important;
}

.ms-TagItem-TextOverflow {
    max-width: 100vw;
}

.ms-TagItem-close:focus {
    color: rgb(96, 94, 92) !important;
    background-color: rgb(243, 242, 241) !important;
}

.items {
    height: calc(100vh - 125px);
}
.items div{
    overflow: hidden;
}

.ms-DetailsHeader {
    border: none !important;
}

ul.right-menu-list.theme-mac {
    background: white;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    color: #21201f;
    font-size: 13px;
    border-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.133) 0px 3.2px 7.2px 0px, rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px 0px !important;
    border: none;
    padding: 0;
}

ul.right-menu-list.theme-mac :hover {
    background: #f3f2f1;
    color: #21201f;
    cursor: pointer;
}

ul.right-menu-list.theme-mac li {
    padding: 0 8px !important;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    height: 36px !important;
    line-height: 36px !important;
}

body {
    overflow: hidden;
}
.tabs{
    display: flex;
    justify-content:space-between;
}
.tabs>.menu{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: 40px;
}
.ms-layer{
    display: none;
}
.setting-item{
    padding: 10px 0 ;
}
.setting-item .add{
    margin: 2px 0 0 0 !important;
}

.setting-item  .added {
    display: flex;
    margin: 2px 0 0 0 !important;
}