.search-box {
    z-index: 100;

    position: sticky;
    padding: 0 12px;
    margin: 10px auto;
}
.items {
    z-index: 1;
}

.icon {
    display: flex;
    align-items: center;
    /*width: 30px;*/
    margin: 16px;
}

.icon>.img {
    width: 25px !important;
    margin-right: 5px;
}
.icon>img {
    width: 35px;
}
